name: nightly
on:
  # Triggers the workflow every day at 23:00.
  schedule:
    - cron: '0 23 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in
# parallel.
jobs:
  # This job will build the linux kernel.
  buildKernel:
    runs-on: ubuntu-latest 
    # Environment variables
    env:
      # GOPATH is the current directory.
      GOPATH: ${{ github.workspace }}
      # Turn off modules because they are broken.
      GO111MODULE: off
      # WEBBOOT is the where the code is checked out.
      WEBBOOT: ${{ github.workspace }}/src/github.com/${{ github.repository }}
    # Set the working directory to the correct place in $GOPATH.
    defaults:
      run:
        working-directory: ${{ env.WEBBOOT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: ${{ env.WEBBOOT }}
      - name: Kernel Build
        run: |
          ./nightly.sh
          ls -l linux/arch/x86/boot/bzImage
      - uses: actions/upload-artifact@v2
        with:
          name: nightly-kernel-build
          path: ${{ env.WEBBOOT }}/linux/arch/x86/boot/bzImage
          if-no-files-found: error
          retention-days: 30
  
  # This job will run the matrix of distros.
  runDistros:
    needs: buildKernel
    runs-on: ubuntu-latest
    # Environment variables
    env:
      # GOPATH is the current directory.
      GOPATH: ${{ github.workspace }}
      # Turn off modules because they are broken.
      GO111MODULE: off
      # WEBBOOT is the where the code is checked out.
      WEBBOOT: ${{ github.workspace }}/src/github.com/${{ github.repository }}
      # qemu binary and kernel for integration test
      UROOT_QEMU: qemu-system-x86_64
      UROOT_KERNEL: ${{ github.workspace }}/src/github.com/${{ github.repository }}/linux/arch/x86/boot/bzImage
    # Set the working directory to the correct place in $GOPATH.
    defaults:
      run:
        working-directory: ${{ env.WEBBOOT }}
    strategy:
      # Run at most 2 distros at a time.
      max-parallel: 2
      # Continue testing other distros on failure.
      fail-fast: false
      # List of distros
      matrix:
        distro:
          - TinyCore
          - Arch
          - CentOS 7
          - CentOS 8
          - Debian
          - Fedora
          - Kali
          - Linux Mint
          - Manjaro
          - Ubuntu
    # Steps represent a sequence of tasks that will be executed as part of the
    # job
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: ${{ env.WEBBOOT }}
      - name: Checkout dependencies
        run: |
          ./firsttime.sh
      - uses: actions/download-artifact@v2
        with:
          name: nightly-kernel-build
          # Note that the ../ is required; otherwise, github creates a
          # directory called bzImage containing bzImage.
          path: ${{ env.UROOT_KERNEL }}/../
      - name: Test TestScript
        run: |
          ls -l ${{ env.UROOT_KERNEL }}
          WEBBOOT_DISTRO="${{ matrix.distro }}" go test -v ./integration
